.column-selector {
  border: 1px solid #c0c0c0;
}

.column-selector-table {
  background-color: #ffffff;
  table-layout: fixed;
  width: 300px;
  margin-bottom: 0;
}

.column-selector-header {
  border-bottom:  1px solid #c0c0c0;
}

.column-selector-body {
  height: 350px;
  overflow-y: auto;
}

.column-selector .col-colName {
  width: 145px;
}

.column-selector .col-colType {
  width: 50px;
}

.column-selector .col-check {
  width: 35px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

table.column-selector-table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.column-selector-th  {
  border-bottom: 0;
}
.column-selector thead {
  border-bottom: 1px solid #c0c0c0;
}

.column-selector .all-row {
  background-color: #f0f0f0;
}

.column-selector .col-check:last-child {
  padding-right: 16px;
}

.col-colName-all {
  font-style: italic;
  font-weight: bolder;
}
