.sidebar {
  background-color: #efefef;
  display: inherit;
  // width: 50px;
  // min-width: 50px;
  width: 40px;
  min-width: 40px;
  flex: 0 0 auto;
  min-height: 888px;
  transition-duration: 0.3s;
  overflow: none;
}

.sidebar-expanded {
  width: 328px;
  min-width: 328px;
}

.sidebar-content {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 8px;
  margin-top: 8px;
  margin-right: 8px;
  overflow: hidden;
  visibility:hidden;
}

.sidebar-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 8px;
  margin-top: 8px;
}

.sidebar-expanded > .sidebar-placeholder {
  visibility: hidden;
}

.sidebar-expanded > .sidebar-content {
  visibility:visible;
}

.show-root-label {
  margin-left: 5px;
}

.root-check-group {
  margin-left: 8px;
}
